.homepage{
    display: flex;
    
}
.icon-home{
    width: 40px;
    height: 40px;
}

.card{
    background-color: black;
    border-radius: 10px;
    border: 10px;
    border-color: azure;
    height: 280px;
}

.card-body{
    color: rgb(106, 101, 101);
}

.card-title{
    color: white;
}
